<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nice Subtitle Site</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/{{ template_details.name }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/{{ template_details.name }}/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/{{ template_details.name }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div class="subtitle-manager-container">
                <h1>Nice Subtitle Site</h1>
                <h3>Create a session to get started</h3>
                <br>
                <a href="#" data-toggle="modal" data-target="#newSession" class="btn btn-dark btn-lg">New session</a>
            </div>
        </div>
    </header>

    <!-- MODAL: New session -->
    <div class="modal fade" id="newSession" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/actions/session-crud/new">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a new session</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Short description</label>
                  <input type="text" name="session-description" class="form-control" placeholder="Short description, e.g. language, date, etc">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/assets/{{ template_details.name }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/{{ template_details.name }}/js/bootstrap.min.js"></script>
</body>

</html>
